
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
node_modules/.bin/
node_modules/.recently_updates.txt
node_modules/_axios@0.19.2@axios/
node_modules/_debug@3.1.0@debug/
node_modules/_follow-redirects@1.5.10@follow-redirects/
node_modules/_fsevents@1.2.13@fsevents/
node_modules/_ms@2.0.0@ms/
node_modules/_vue-axios@2.1.5@vue-axios/
node_modules/_vue@2.6.11@vue/
node_modules/ajv-keywords/
node_modules/ajv/
node_modules/ansi-styles/
node_modules/async-validator/
node_modules/axios/
node_modules/babel-helper-vue-jsx-merge-props/
node_modules/babel-runtime/
node_modules/big.js/
node_modules/camelcase/
node_modules/chalk/
node_modules/color-convert/
node_modules/color-name/
node_modules/core-js/CHANGELOG.md
node_modules/core-js/Gruntfile.js
node_modules/core-js/LICENSE
node_modules/core-js/README.md
node_modules/core-js/bower.json
node_modules/core-js/build/
node_modules/core-js/client/
node_modules/core-js/core/
node_modules/core-js/es5/
node_modules/core-js/es6/
node_modules/core-js/es7/
node_modules/core-js/fn/
node_modules/core-js/index.js
node_modules/core-js/library/
node_modules/core-js/modules/_a-function.js
node_modules/core-js/modules/_a-number-value.js
node_modules/core-js/modules/_add-to-unscopables.js
node_modules/core-js/modules/_advance-string-index.js
node_modules/core-js/modules/_an-instance.js
node_modules/core-js/modules/_an-object.js
node_modules/core-js/modules/_array-copy-within.js
node_modules/core-js/modules/_array-fill.js
node_modules/core-js/modules/_array-from-iterable.js
node_modules/core-js/modules/_array-includes.js
node_modules/core-js/modules/_array-methods.js
node_modules/core-js/modules/_array-reduce.js
node_modules/core-js/modules/_array-species-constructor.js
node_modules/core-js/modules/_array-species-create.js
node_modules/core-js/modules/_bind.js
node_modules/core-js/modules/_classof.js
node_modules/core-js/modules/_cof.js
node_modules/core-js/modules/_collection-strong.js
node_modules/core-js/modules/_collection-to-json.js
node_modules/core-js/modules/_collection-weak.js
node_modules/core-js/modules/_collection.js
node_modules/core-js/modules/_core.js
node_modules/core-js/modules/_create-property.js
node_modules/core-js/modules/_ctx.js
node_modules/core-js/modules/_date-to-iso-string.js
node_modules/core-js/modules/_date-to-primitive.js
node_modules/core-js/modules/_defined.js
node_modules/core-js/modules/_descriptors.js
node_modules/core-js/modules/_dom-create.js
node_modules/core-js/modules/_entry-virtual.js
node_modules/core-js/modules/_enum-bug-keys.js
node_modules/core-js/modules/_enum-keys.js
node_modules/core-js/modules/_export.js
node_modules/core-js/modules/_fails-is-regexp.js
node_modules/core-js/modules/_fails.js
node_modules/core-js/modules/_fix-re-wks.js
node_modules/core-js/modules/_flags.js
node_modules/core-js/modules/_flatten-into-array.js
node_modules/core-js/modules/_for-of.js
node_modules/core-js/modules/_function-to-string.js
node_modules
/core-js/modules/_global.js
node_modules/core-js/modules/_has.js
node_modules/core-js/modules/_hide.js
node_modules/core-js/modules/_html.js
node_modules/core-js/modules/_ie8-dom-define.js
node_modules/core-js/modules/_inherit-if-required.js
node_modules/core-js/modules/_invoke.js
node_modules/core-js/modules/_iobject.js
node_modules/core-js/modules/_is-array-iter.js
node_modules/core-js/modules/_is-array.js
node_modules/core-js/modules/_is-integer.js
node_modules/core-js/modules/_is-object.js
node_modules/core-js/modules/_is-regexp.js
node_modules/core-js/modules/_iter-call.js
node_modules/core-js/modules/_iter-create.js
node_modules/core-js/modules/_iter-define.js
node_modules/core-js/modules/_iter-detect.js
node_modules/core-js/modules/_iter-step.js
node_modules/core-js/modules/_iterators.js
node_modules/core-js/modules/_keyof.js
node_modules/core-js/modules/_library.js
node_modules/core-js/modules/_math-expm1.js
node_modules/core-js/modules/_math-fround.js
node_modules/core-js/modules/_math-log1p.js
node_modules/core-js/modules/_math-scale.js
node_modules/core-js/modules/_math-sign.js
node_modules/core-js/modules/_meta.js
node_modules/core-js/modules/_metadata.js
node_modules/core-js/modules/_microtask.js
node_modules/core-js/modules/_native-weak-map.js
node_modules/core-js/modules/_new-promise-capability.js
node_modules/core-js/modules/_object-assign.js
node_modules/core-js/modules/_object-create.js
node_modules/core-js/modules/_object-define.js
node_modules/core-js/modules/_object-dp.js
node_modules/core-js/modules/_object-dps.js
node_modules/core-js/modules/_object-forced-pam.js
node_modules/core-js/modules/_object-gopd.js
node_modules/core-js/modules/_object-gopn-ext.js
node_modules/core-js/modules/_object-gopn.js
node_modules/core-js/modules/_object-gops.js
node_modules/core-js/modules/_object-gpo.js
node_modules/core-js/modules/_object-keys-internal.js
node_modules/core-js/modules/_object-keys.js
node_modules/core-js/modules/_object-pie.js
node_modules/core-js/modules/_object-sap.js
node_modules/core-js/modules/_object-to-array.js
node_modules/core-js/modules/_own-keys.js
node_modules/css-loader/dist/cjs.js
node_modules/css-loader/dist/index.js
node_modules/css-loader/dist/options.json
node_modules/css-loader/dist/plugins/
node_modules/css-loader/dist/runtime/
node_modules/css-loader/node_modules/json5/CHANGELOG.md
node_modules/css-loader/node_modules/json5/dist/
node_modules/css-loader/node_modules/json5/lib/
node_modules/css-loader/node_modules/json5/package.json
node_modules/css-loader/node_modules/loader-utils/
node_modules/css-loader/package.json
node_modules/cssesc/
node_modules/debug/
node_modules/deepmerge/
node_modules/element-ui/
node_modules/emojis-list/
node_modules/escape-string-regexp/
node_modules/fast-deep-equal/
node_modules/fast-json-stable-stringify/
node_modules/file-loader/
node_modules/follow-redirects/
node_modules/fsevents/
node_modules/has-flag/
node_modules/icss-utils/
node_modules/indexes-of/
node_modules/json-schema-traverse/
node_modules/json5/
node_modules/loader-utils/
node_modules/mime-db/
node_mod
ules/mime-types/
node_modules/minimist/
node_modules/ms/
node_modules/normalize-path/
node_modules/normalize-wheel/
node_modules/postcss-modules-extract-imports/
node_modules/postcss-modules-local-by-default/
node_modules/postcss-modules-scope/
node_modules/postcss-modules-values/
node_modules/postcss-selector-parser/
node_modules/postcss-value-parser/
node_modules/postcss/
node_modules/punycode/
node_modules/regenerator-runtime/
node_modules/resize-observer-polyfill/
node_modules/schema-utils/
node_modules/semver/
node_modules/source-map/
node_modules/style-loader/
node_modules/supports-color/
node_modules/throttle-debounce/
node_modules/uniq/
node_modules/uri-js/
node_modules/url-loader/
node_modules/vue-axios/
node_modules/vue/
tx-service-python/txclassmate/txclassmate/__pycache__/
tx-service-python/txclassmate/txclassmate/spiders/__pycache__/
tx-service-python/txclassmate/txclassmate/utils/__pycache__/
